<h2>Homepage for Speed Reader project</h2>

<p>
  The time is now: <%= Time.now %>
</p>

<div id="content">
  <div id="reader">
    <p>Testing</p>
  </div>

  <div id="text-input">
    <form id="text-input-form">
      <label>Insert text here:
        <input type="text">
      </label><br>

      <input type="submit" value="Speed Read it!">

    </form>
  </div>
</div>