<h2>Homepage for Speed Reader project</h2>

<p>
  The time is now: <%= Time.now %>
</p>

<div id="content"></div>

<script type="text/javascript" charset="utf-8">
  $(SpeedReader.initialize);
</script>