<div class="about-bottom">
  <div class="page-title">
    <h2>About SpeedReader</h2>
  </div>

  <p>
    What are you waiting for? You're faster than this. Don't think you are. Know you are.
  </p>

  <iframe class="youtube-player" type="text/html" width="640" height="385" src="https://www.youtube.com/watch?v=8_C0E1ml5-o" allowfullscreen frameborder="0">
  </iframe>
</div>