<div id="reader">
  <div id="reader-words">
    <span id="reader-words-left">
      Sp
    </span>
    <span id="reader-words-right">
      <span class="focus-letter">e</span>edReader
    </span>
  </div>
</div>

<div id="reader">
  <div id="reader-words">
    <span id="reader-words-left">
      Sp
    </span>
    <span id="reader-words-right">
      <span class="focus-letter">e</span>edReader
    </span>
  </div>
</div>

<div id="reader" style="background-color:purple">
  <div id="reader-words">
    <span id="reader-words-left">
      Sp
    </span>
    <span id="reader-words-right">
      <span class="focus-letter">e</span>edReader
    </span>
  </div>
</div>

<div id="reader">
  <div id="reader-words">
    <span id="reader-words-left">
      Sp
    </span>
    <span id="reader-words-right">
      <span class="focus-letter">e</span>edReader
    </span>
  </div>
</div>

<div id="reader">
  <div id="reader-words">
    <span id="reader-words-left">
      Sp
    </span>
    <span id="reader-words-right">
      <span class="focus-letter">e</span>edReader
    </span>
  </div>
</div>