
<div class='sidebar-container' id="sidebar-left">
  <div class="sidebar-container-header">samples</div>

  <button id="cj-app-academy" data-wpm="100" class="left-sample-button left-sidebar-button">CJ - 100</button>
  <button id="snowden" data-wpm="200" class="left-sample-button left-sidebar-button">Edward Snowden - 200</button>
  <button id="lebron" data-wpm="300" class="left-sample-button left-sidebar-button">Lebron James - 300</button>
  <button id="obama" data-wpm="400" class="left-sample-button left-sidebar-button">Barack Obama - 400</button>
  <button id="arnold" data-wpm="500" class="left-sample-button left-sidebar-button">Arnold Schwarzenegger - 500</button>


  <div class="sidebar-container-header">controls</div>

  <button id="start-button" class="control-button left-sidebar-button">
    start / pause
  </button>

  <button id="faster-button" class="control-button left-sidebar-button">
    faster
  </button>

  <button id="slower-button" class="control-button left-sidebar-button">
    slower
  </button>

  <button id="reset-button" class="control-button left-sidebar-button">
    reset
  </button>
</div>


<div class='sidebar-container' id="sidebar-right">
  <div class="sidebar-container-header">
    wpm
  </div>
  <button id="100" class="wpm-picker left-sidebar-button">100</button>
  <button id="200" class="wpm-picker left-sidebar-button">200</button>
  <button id="300" class="wpm-picker left-sidebar-button">300</button>
  <button id="400" class="wpm-picker left-sidebar-button">400</button>
  <button id="500" class="wpm-picker left-sidebar-button">500</button>
  <button id="600" class="wpm-picker left-sidebar-button">600</button>
  <button id="700" class="wpm-picker left-sidebar-button">700</button>
  <button id="800" class="wpm-picker left-sidebar-button">800</button>
  <button id="900" class="wpm-picker left-sidebar-button">900</button>
  <button id="1000" class="wpm-picker left-sidebar-button">1000</button>
</div>


<div id="center-container">
  <div id="reader-input-container">
    <div id="reader">
      <div id="reader-words">
        <span id="reader-words-left"></span>
        <span id="reader-words-right"></span>
      </div>
    </div>

    <div id="text-input">
      <form id="text-input-form">

        <label>Insert Text:
          <textarea id="text-area-box-input" form="text-input-form" name="text[body]" rows="18"></textarea>
        </label>

        <label>Words per Minute:<br>
          <input id="input-speed-box" type="text" name="text[speed]" value="220">
        </label>

      </form>
    </div>
  </div>
</div>
