<div class='sidebar-container' id="sidebar-left">
  <div class="sidebar-container-header">Samples</div>

  <button id="cj-app-academy" data-wpm="100" class="left-sample-button">CJ, 100 WPM</button>
  <button id="alec-baldwin-departed" data-wpm="200" class="left-sample-button">The Departed, 200 WPM</button>
  <button id="the-emperor-jedi" data-wpm="300" class="left-sample-button">Return of the Jedi, 300 WPM</button>
  <button id="harry-potter" data-wpm="400" class="left-sample-button">Harry Potter, 400 WPM</button>
  <button id="ferris-bueller" data-wpm="500" class="left-sample-button">Ferris Bueller, 500 WPM</button>


  <div class="sidebar-container-header">Directions</div>

  <button class="left-sample-button">
    <span class="pull-left-and-center">
      Pause/Go
    </span>
    <span class="glyphicon glyphicon-play-circle"></span>
    <span class="pull-right-and-center">
      Spacebar
    </span>
  </button>

  <button class="left-sample-button">
    <span class="pull-left-and-center">
      Faster
    </span>
    <span class="glyphicon glyphicon-plus"></span>
    <span class="pull-right-and-center">
      Right
    </span>
  </button>

  <button class="left-sample-button">
    <span class="pull-left-and-center">
      Slower
    </span>
    <span class="glyphicon glyphicon-minus"></span>
    <span class="pull-right-and-center">
      Left
    </span>
  </button>

</div>

<div id="center-container">
  <div id="reader-input-container">
    <div id="reader">
      <div id="reader-words">
        <span id="reader-words-left">
          Sp
        </span>
        <span id="reader-words-right">
          <span class="focus-letter">e</span>edReader
        </span>
      </div>
    </div>

    <div id="text-input">
      <form id="text-input-form">

        <label>Insert Text Here:
          <textarea id="text-area-box-input" form="text-input-form" name="text[body]" rows="13"></textarea>
        </label>

        <label>Set words per minute:<br>
          <input id="input-speed-box" type="text" name="text[speed]" value="500">
        </label>

        <input type="range" id="speed-select-slider" name="text[speed]"
               value="500" min="0" max="1000">

        <input type="submit" value="Speed Read It!">

      </form>
    </div>
  </div>

  <div id="right-container"></div>

</div>