<div class='sidebar-container' id="sidebar-left">
  <div class="sidebar-container-header">Samples</div>

  <button id="cj-app-academy" data-wpm="100" class="left-sample-button left-sidebar-button">CJ, 100 WPM</button>
  <button id="alec-baldwin-departed" data-wpm="200" class="left-sample-button left-sidebar-button">The Departed, 200 WPM</button>
  <button id="the-emperor-jedi" data-wpm="300" class="left-sample-button left-sidebar-button">Return of the Jedi, 300 WPM</button>
  <button id="harry-potter" data-wpm="400" class="left-sample-button left-sidebar-button">Harry Potter, 400 WPM</button>
  <button id="ferris-bueller" data-wpm="500" class="left-sample-button left-sidebar-button">Ferris Bueller, 500 WPM</button>


  <div class="sidebar-container-header">Controls</div>

  <button id="start-button" class="control-button left-sidebar-button">
    Start / Pause
  </button>

  <button id="faster-button" class="control-button left-sidebar-button">
    Faster
  </button>

  <button id="slower-button" class="control-button left-sidebar-button">
    Slower
  </button>

  <button id="reset-button" class="control-button left-sidebar-button">
    Reset
  </button>
</div>

<div id="center-container">
  <div id="reader-input-container">
    <div id="spacer-div"></div>
    <div id="reader">
      <div id="reader-words">
        <span id="reader-words-left">
          Sp
        </span>
        <span id="reader-words-right">
          <span class="focus-letter">e</span>edReader
        </span>
      </div>
    </div>

    <div id="text-input">
      <form id="text-input-form">

        <label>Insert Text Here:
          <textarea id="text-area-box-input" form="text-input-form" name="text[body]" rows="18"></textarea>
        </label>

        <label>Words per Minute:<br>
          <input id="input-speed-box" type="text" name="text[speed]" value="500">
        </label>

      </form>
    </div>
  </div>
</div>