<div id="reader">
  <div id="reader-words">
    <span id="reader-words-left">
      Sp
    </span>
    <span id="reader-words-right">
      <span class="focus-letter">e</span>edReader
    </span>
  </div>
</div>

<div id="text-input">
  <form id="text-input-form">
    <label>Insert text here:<br>
      <input type="textarea" name="text[body]">
    </label><br>

    <label>Set word per minute:<br>
      <input type="text" name="text[speed]" value="500">
    </label><br>

    <input type="submit" value="Speed Read it!">

  </form>
</div>