<div class="page-title">
  <h4>Statistics - <%= user.escape("email") %></h4>
</div>

<ul>
  <li>Total words: <%= user.escape("total_words") %>
  <li>Average speed: <%= user.escape("average_speed") %> words/minute
  <li>Total time spent reading: <%= user.escape("total_time") %>
</ul>

