$standard-border-radius: 5px;

* {
  font-family: "Museo Sans";
}

div#content {
  background-color: #7277D8;
  border: 2px solid black;
  border-radius: $standard-border-radius;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}

div.page-title {
  background-color: gray;
  border-radius: $standard-border-radius;
  display: inline-block;

}

div#reader {
  background-color: #080E73;
//  border: 1px dotted black;
  border-radius: $standard-border-radius;
  color: white;
  font-size: 50px;
  height: 100px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  overflow: hidden;
  text-align: center;
  width: 500px;
}

div#reader-words {
//  background-color: purple;
  line-height: 50px;
  position: relative;
  top: 25px;
}

.focus-letter {
  color: #FFBC00;
  background-color: #2F3485;
}

form#text-input-form {
  margin: 5px;
}

span#reader-words-left {
//  background-color: red;
  line-height: 50px;
  width: 150px;
  float: left;
  text-align: right;
}

span#reader-words-right {
//  background-color: green;
  line-height: 50px;
  width: 350px;
  float: right;
  text-align: left;
}

#text-input {
  background-color: white;
  border: 2px solid black;
  border-radius: $standard-border-radius;
  margin: 10px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}