$standard-border: 1px solid black;;
$standard-border-radius: 0px;
$standard-padding: 5px;
$standard-margin-small: 5px;
$standard-margin-medium: 10px;
$standard-width-middle: 500px;
$color-dark-gray: #222222;
$color-light-gray: #888888;

* {
//  font-family: "Museo Sans";
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: url('../images/grunge-background-1.jpg');
  height: 100%;
  padding: 0;
//  overflow: hidden;
}

button.left-sample-button {
  width: 100%;
  height: 50px;
}

#center-container {
  height: 100%;
}

div.collapse.navbar-collapse {
  font-family: "Museo Sans";
}

div#content {
  background-color: $color-light-gray;
//  border: $standard-border;
  height: 512px;
  margin-top: 0;
  margin-left: $standard-margin-medium;
  margin-right: $standard-margin-medium;
}

div#reader {
  background-color: black;//#080E73;
//  border: $standard-border;
//  border-radius: $standard-border-radius;
  color: white;
  font-size: 50px;
  height: 100px;
  margin: $standard-margin-small;
//  margin-left: auto;
//  margin-right: auto;
  overflow: hidden;
//  padding-top: $standard-padding;
  text-align: center;
  width: $standard-width-middle;
}

div#reader-words {
  font-family: "Source Code Pro Medium";
  line-height: 50px;
  position: relative;
  top: 25px;
}

#reader-input-container {
  background-image: url("../images/background-pattern.jpg");
  height: 100%;
}

#right-container {

}


div.sidebar-container {
  font-family: "Museo Sans";
  background-color: $color-dark-gray;
//  border: $standard-border;
  color: $color-light-gray;
  display: inline-block;
  height: 100%;
  margin: 0;
  margin-top: 0;
  padding: $standard-padding;
  width: 200px;
}

div.sidebar-container-header {
  border: $standard-border;
  font-family: "Museo Sans";
  font-size: 20px;
  line-height: 50px;
  background-color: $color-light-gray;
  color: black;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}


div#sidebar-left {
  float: left;
}

.focus-letter {
  color: #FFD073;
  background-color: #2A4480;
}

@font-face {
  font-family: "Fira Sans Medium";
  src: url(/assets/FiraSans-Medium.otf) format("truetype");
}

@font-face {
  font-family: "Source Code Pro Medium";
  src: url(/assets/SourceCodePro-Medium.otf.woff) format("truetype");
}

form#text-input-form {
  margin: $standard-margin-small;
}

form#text-input-form * {
  width: 100%;
}

span.pull-left-and-center {
  float: left;
  text-align: center;
  width: 44%;
}

span.pull-right-and-center {
  float: right;
  text-align: center;
  width: 44%;
}

span#reader-words-left {
//  background-color: red;
  line-height: 50px;
  width: 150px;
  float: left;
  text-align: right;
}

span#reader-words-right {
//  background-color: green;
  line-height: 50px;
  width: 350px;
  float: right;
  text-align: left;
}

textarea {
  resize: none;
}

#text-input {
  background-color: white;
  border: $standard-border;
//  border-radius: $standard-border-radius;
  float: left;
  margin: $standard-margin-small;
  width: 500px;
}