$standard-border: 1px solid black;;
$standard-border-radius: 0px;
$standard-padding: 5px;
$standard-margin-small: 5px;
$standard-margin-medium: 10px;
$standard-width-middle: 500px;
$color-dark-gray: #222222;
$color-light-gray: #888888;
$color-highlight: #A9BFD2;

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
}

button.left-sidebar-button {
  width: 100%;
  height: 50px;
}

button.left-sidebar-button:hover {
  color: #5A8496;
}

#center-container {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 4;
}

#center-container-background {
  background-color: green;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 700px;
  z-index: 3;
}

#content {
  height: 556px;
  width: 98%;
  margin-top: 0;
  margin-left: $standard-margin-medium;
  margin-right: $standard-margin-medium;
  position: relative;
  z-index: 1;
}

div.collapse.navbar-collapse {
  font-family: "Museo Sans";
}

.focus-letter {
  color: black;
  border-radius: 8px;
  background: -webkit-radial-gradient(circle, $color-highlight, black); /* For Safari 5.1 to 6.0 */
  background: -o-radial-gradient(circle, $color-highlight, black); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, $color-highlight, black); /* For Fx 3.6 to 15 */
  background: radial-gradient(circle, $color-highlight, black); /* Standard syntax */
}

@font-face {
  font-family: "Source Code Pro Medium";
  src: url(/assets/SourceCodePro-Medium.otf.woff) format("truetype");
}

@font-face {
  font-family: "Raleway Bold";
  src: url(/assets/Raleway-Bold.otf) format("truetype");
}

@font-face {
  font-family: "Raleway Regular";
  src: url(/assets/Raleway-Regular.otf) format("truetype");
}

form#text-input-form {
  margin: $standard-margin-small;
}

form#text-input-form * {
  width: 100%;
}

#hidden-listener {
  display: none;
}

html {
  height: 100%;
  width: 100%;
}

.modal {
  font-family: "Raleway Regular";
}

.raleway-bold {
  font-family: "Raleway Bold";
}

#navbar-logo-top-left {
  height: 25px;
  position: relative;
  top: -4px;
  left: 4px;
}

#reader {
  background-color: black;
  color: white;
  font-size: 50px;
  height: 100px;
  margin: $standard-margin-small;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: center;
  width: $standard-width-middle;
}

#reader-input-container {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#reader-words {
  font-family: "Source Code Pro Medium";
  line-height: 50px;
  position: relative;
  top: 25px;
}

.sidebar-container {
  font-family: "Raleway Regular";
  background-color: $color-dark-gray;
  color: $color-light-gray;
  height: 100%;
  margin: 0;
  margin-top: 0;
  padding: $standard-padding;
  width: 200px;
  z-index: 3;
}

.sidebar-container-header {
  border: $standard-border;
  font-family: "Raleway Regular";
  font-size: 20px;
  line-height: 50px;
  background-color: $color-light-gray;
  color: black;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

#sidebar-left {
  float: left;
}

#sidebar-right {
  float: right;
}

span#reader-words-left {
  line-height: 50px;
  width: 150px;
  float: left;
  text-align: right;
}

span#reader-words-right {
  line-height: 50px;
  width: 350px;
  float: right;
  text-align: left;
}

textarea {
  resize: none;
}

#text-input {
  background-color: white;
  border: $standard-border;
  font-family: "Raleway Bold";
  margin: $standard-margin-medium;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

#wpm-indicator {
  margin-top: 0;
  text-align: right;
}